$qh__footer-sm-bp: $bp--small;
$qh__footer-lg-bp: em(1020);
// Starting to introduce fluid spacing using these metrics:
// https://utopia.fyi/space/calculator?c=480,16,1.2,1200,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
$qh__footer-v-space: clamp(1.5rem, 1rem + 1.6667vw, 2.25rem); // this ends up being doubled in use
$qh__footer-h-space: clamp(1rem, 0.5417rem + 1.5278vw, 1.6875rem);

.qh__site-footer {
  background-image: radial-gradient( circle at bottom center, var(--fc__footer__bg),rgb(0, 0, 0, 0.25) 100% );
  border-block-start: $border-xl solid var(--fc__footer__border-top);
  color: var(--fc__footer__fg);

  :where(#{$all-headers}) {
    // There should be heading elements inside the footer, but if there are, we don't want them to look huge
    // So we make all of them, regardless of semantic weight, the same visual size
    --font-size-min-value: var(--h5-size-s);
    --font-size-max-value: var(--h5-size-l);
    --font-size-scaler-value: var(--h5-scaler-value);
    --font-lh-min-value: var(--h5-lh-s);
    --font-lh-max-value: var(--h5-lh-l);
    --font-lh-scaler-value: var(--h5-lh-scaler-value);
    color: var(--fc__footer__headings) !important;
    margin-block-start: 0;
  }

  a {
    color: var(--fc__footer__fg);

    &:hover,
    &:focus {
      text-decoration: none;
      color: var(--fc__footer__fg);
    }

    &:visited {
      color: var(--fc__footer__fg);
    }
  }

  p {
    --font-lh-min-value: 1.5;
    --font-lh-max-value: 1.75;
    hyphens: auto !important; // Please forgive me
    margin-block-start: var(--body-text-spacer);

    @extend .qh__fs-st !optional;
  }

  p,
  li {
    font-variant-numeric: lining-nums;
  }

  &__inner {
    @include qh-content-maxwidth();
    display: flex;
    flex-flow: column;
    column-gap: $qh__footer-h-space;
    row-gap: 0;
    padding-block: $qh__footer-v-space;

    @include breakpoint-up($qh__footer-sm-bp) {
      flex-flow: row wrap;
    }
  }

  &__content {
    position: relative;
    margin-block: $qh__footer-v-space;

    @include breakpoint-down($qh__footer-sm-bp) {
      // Make room on the left for the section navigation sticky button
      padding-inline-start: $qh__footer-h-space;

      // Border between each column except the first one
      & + &::before {
        border-block-start: $border-xs solid var(--fc__footer__fg);
        content: '';
        opacity: 0.25;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    // Four column 2 over 2 layout
    @include breakpoint-up($qh__footer-sm-bp) {
      flex: 1 0 46%;
    }

    // Four columns across layout
    @include breakpoint-up($qh__footer-lg-bp) {
      flex: 1 0 22%;
      max-width: em(300);

      &:last-child {
        margin-inline-start: auto;
        padding-inline-start: $qh__footer-h-space;

        &::before {
          border-inline-start: $border-xs solid var(--fc__footer__fg);
          content: '';
          opacity: 0.25;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
        }
      }
    }
  }

  &__copyright {
    color: var(--fc__footer__fg);

    &__content {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      width: 100%;

      p {
        flex: 1 1 auto;
        margin-inline-start: $qh__footer-h-space;
        margin-block-start: 0;
      }
    }

    svg:first-of-type {
      flex: 0 0 em(50);
      margin: -0.75rem 0;

      @include breakpoint-up($qh__footer-sm-bp) {
        flex: 0 0 em(62);
      }

      @include breakpoint-up($qh__footer-lg-bp) {
        flex: 0 0 em(75);
      }
    }
  }

  @media print {
    display: none;
  }
}
