.qh__paragraph__column-container {
  display: flex;
  flex-wrap: wrap;

  > * {
    flex: 0 0 100%;
    @media (min-width: $bp--medium) {
      flex: 0 0 49%;
      margin-bottom: 1rem;

      &:nth-child(2n-1) {
        margin-right: 2%;
      }
    }
  }
}
