# Compiled assets
/**/*.css
/**/*.js
!/**/*.es6.js
!/gulpfile.js
/**/*.map

# Allow custom admin theme css to be committed.
!/ecms_base/themes/custom/ecms_claro/**/*.css

# Project dependencies
/node_modules
/vendor

# Project test results
/tests/**/results

# PHPStorm
.idea

# Distribution specifics
/web
composer.lock

# Drupal core assets
/core
/modules
/themes
/profiles
/libraries
/modules/contrib
/themes/contrib

# Mac
.DS_Store

# Pattern Lab package will be pulled in by Composer.
/ecms_base/themes/custom/ecms/ecms_patternlab

# Pattern Lab SDC Migration.
/ecms_base/themes/custom/ecms/node_modules/
## Color config and colors-generated are compiled with Gulp.
/ecms_base/themes/custom/ecms/assets/data/color-config.json
/ecms_base/themes/custom/ecms/assets/data/colors-generated.json
/ecms_base/themes/custom/ecms/assets/data/listitems.json
/ecms_base/themes/custom/ecms/assets/data/data.json

# ddev development site
/develop

# Git merge artifacts
*.orig

# Development artifacts
*.tar.gz
*.sql
*.sql.gz

