.qh__global-header {
  color: var(--fc__header__fg);

  // TO DO: Search for this pattern and apply a .do-not-print utility class instead
  @media print {
    display: none;
  }

  &__wrapper {
    border-block-end: $border-xs solid rgba(255,255,255,0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em $general-h-spacing;

    // Later in the stack we restrict the width of the global bar.
    // Previous, only padding prevents it from touching the edges
    @include breakpoint-up($bp__show__desktop-nav) {
      @include qh-content-maxwidth();
    }

    // Some color themes need color overrides
    html.qh__t__blue-shutters.light & {
      border-block-end: $border-xs solid rgba(255,255,255,0.5);
    }
    @media (prefers-color-scheme: light) {
      html.qh__t__blue-shutters.light:where(:not(.dark)) & {
        border-block-end: $border-xs solid rgba(255,255,255,0.5);
      }
    }

    &--multiple-region {
      @include breakpoint-down($bp--small) {
        margin: 0;
        flex-direction: column;
        align-items: flex-start;

        > p {
          margin-bottom: rem(5);
        }
      }
    }
  }

  // <p>
  &__tagline {}

  // <p><a role="button'>
  &__settings {
    display: flex;
    flex-flow: row nowrap;
  }

  a,
  .qh__settings-menu__toggle,
  .qh__language-menu__toggle {
    text-decoration: none;

    &,
    &:visited {
      color: var(--fc__header__link);
    }

    &:hover,
    &:focus {
      color: var(--fc__header__link--hover);
      text-decoration: underline;
    }

    &:focus {
      outline-color: var(--fc__header__social__link--hover);
    }
  }
}
