{#
/**
 * @file
 * Image card component.
 *
 * An image with a CTA link below. The entire card is clickable
 * via the qh__cta pattern (absolute-positioned pseudo-element on the link).
 *
 * Variables:
 * - img: Rendered responsive image HTML
 * - link_url: URL for the card link
 * - link_text: Display text for the CTA link
 */
#}

<article class="qh__image-card">
  {% if img %}
    <div class="qh__image-card__media">
      {{ img|raw }}
    </div>
  {% endif %}

  {% if link_url %}
    <div class="qh__image-card__cta qh__u__no-external">
      <a class="qh__h5 qh__cta__link" href="{{ link_url }}">
        <span class="qh__image-card__text">{{ link_text }}</span>
        <span class="qh__image-card__arrow" aria-hidden="true">
          {% include '@icons/arrow-right.svg' %}
        </span>
      </a>
    </div>
  {% endif %}
</article>
