.qh__teaser-person {
  display: flex;

  &__photo {
    display: none;
    width: 25%;
    margin-right: $general-h-spacing;

    // Only show photos if at least one person has a image uploaded.
    .qh__person-list--contains-photo & {
      display: block;
    }
  }

  &__content {
    flex-grow: 1;

    // Internal spacing for header, contanct info, and additional fields.
    display: flex;
    flex-direction: column;
    gap: ($text-spacer-fallback-value/2);
  }

  // <div>
  &__name {
    @extend .qh__h5;

    html:where(.wf-active:not(.novf)) & {
      font-weight: 475;
    }
  }

  // Hide category unless in a full listing
  &__category {
    display: none;

    .qh__person-list__list--full & {
      display: block;
      margin-top: ($text-spacer-fallback-value/2);
    }
  }

  &__phone,
  &__email {
    word-break: break-all;
    display: block;
  }

  &__contact-label {
    display: inline-block;
    min-width: 5rem;
  }
}
