{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}

{#
  Make sure input field ('form.search') is passed as "search_api_fulltext"
  to pattern lab template.
#}
{% for key in form|keys %}
  <li>{{ key }}</li>
{% endfor %}

{% set form = form|merge({ 'search_api_fulltext': form.search }) %}

{% include '@molecules/site-search/site-search--inner.twig' with {
    form: form
  }
%}

