// Replace this with fluid spacers when used as a vertical spacing element?
$text-spacer-fallback-value: 1.25rem;

/* Why so many :where() declarations?
 * :where() removes specificity and makes it easier to override these definitions in the cascade later
 */

body {
  // Root-level typography rules set on Body to start the cascade

  // Fallback value if variable fonts are not loaded
  font-family: $font-sans-fallback;
  font-weight: normal;
  font-style: normal;
  font-variant-numeric: lining-nums;
  word-break: break-word;

  // If this class is present, any custom fonts have loaded
  html:where(.wf-active) & {
    font-family: $font-sans-static;
    letter-spacing: $kerning-base;
  }

  // If the .novf class is present, variable fonts are not supported
  html:where(.wf-active:not(.novf)) & {
    font-family: var(--font-sans-vf);
    font-weight: var(--p-font-wght);
  }

  // Lighten the font weight in dark mode
  // Two stacked Dark mode checks are needed: One for the presence of the dark class, and one for when the system OS is dark
  html:where(.dark) & {
    --p-font-wght: calc(var(--vf-body-wght) - 25);
    letter-spacing: $kerning-loose;
  }
  @media (prefers-color-scheme: dark) {
    html:where(:not(.light)) & {
      --p-font-wght: calc(var(--vf-body-wght) - 25);
      letter-spacing: $kerning-loose;
    }
  }
}

// Individual calculations must now be done on block child elements of Body
/* Can't use an asterisk here — issue with nested elements: For example,
   A blockquote P is larger than regular P tags. But a em element inside a P tag inside a blockquote is regular size,
   resulting in an EM tag rendering at default P size, and blockquote P rendering larger.
   Must declare all block-level type element we want to control with these sizes
   AND any custom classes that need to also control them.
   */
#{$all-headers},
#{$all-typography-block} {
  // Default starting values for scaling formulas
  --font-size-min-value: var(--p-size-s);
  --font-size-max-value: var(--p-size-l);
  --font-size-scaler-value: var(--p-scaler-value);
  --font-lh-min-value: var(--p-lh-s);
  --font-lh-max-value: var(--p-lh-l);
  --font-lh-scaler-value: var(--p-lh-scaler-value);

  // factor in fontSizeModifier preference
  --font-size-min: calc(var(--font-size-min-value) * var(--fontSizeModifier) * 1rem);
  --font-size-max: calc(var(--font-size-max-value) * var(--fontSizeModifier)  * 1rem);

  // reusable font-size var for each text element
  --font-size: clamp(var(--font-size-min), calc(0.5rem + (var(--font-size-scaler-value) * 1vw)), var(--font-size-max));

  // factor in lineHeightModifier preference
  --font-lh-min: calc(var(--font-lh-min-value) * var(--lineHeightModifier) * 1em);
  --font-lh-max: calc(var(--font-lh-max-value) * var(--lineHeightModifier) * 1em);

  // reusable line-height var
  --line-height: clamp(var(--font-lh-min), calc(var(--font-lh-scaler-value) * 1vw), var(--font-lh-max));

  // reusable line-height var
  --word-spacing: calc(1em * var(--wordSpaceModifier));

  font-size: var(--font-size);
  line-height: var(--line-height);
  word-spacing: var(--word-spacing);
}

.node,
.qh__accordion__content > div,
.qh__numbered-step__content,
.qh__single-event__content {

  // Set up ideal character max-widths in content
  :where(p, li, dt, dd) {
    max-width: $max-line-length-ch;
  }

  // Set up vertical rhythm inside main content containers
  > :where(:not(h4, .qh__h4, h5, .qh__h5, h6, .qh__h6, .qh__accordion, hr)) {
    /*
      A LH unit changes with the size of the element’s font-size and line height
      It also collapses when used on the margin property.
      Therefore, we should achieve a balanced rhythm with only a few simple declarations.
      */
    margin-block-end: var(--body-text-spacer);
  }

  > :where(.qh__paragraph) {
    margin-block-end: calc(var(--body-text-spacer) * 2);
  }

  > *:last-child  {
    margin-block-end: 0;
  }
}

// All headers shared styles
#{$all-headers} {
  color: var(--fc__default__hx__fg);
  font-family: $font-serif-fallback;
  font-weight: bold;

  html:where(.wf-active) & {
    font-family: $font-serif-static;
  }

  html:where(.wf-active:not(.novf)) & {
    font-family: var(--font-serif-vf);
  }
}

// Individual header elements
h1,
.qh__h1 {
  --font-size-min-value: var(--h1-size-s);
  --font-size-max-value: var(--h1-size-l);
  --font-size-scaler-value: var(--h1-scaler-value);
  --font-lh-min-value: var(--h1-lh-s);
  --font-lh-max-value: var(--h1-lh-l);
  --font-lh-scaler-value: var(--h1-lh-scaler-value);

  font-weight: normal;
  letter-spacing: $kerning-base;

  html:where(.wf-active:not(.novf)) & {
    font-weight: 275;
  }
}

h2,
.qh__h2 {
  --font-size-min-value: var(--h2-size-s);
  --font-size-max-value: var(--h2-size-l);
  --font-size-scaler-value: var(--h2-scaler-value);
  --font-lh-min-value: var(--h2-lh-s);
  --font-lh-max-value: var(--h2-lh-l);
  --font-lh-scaler-value: var(--h2-lh-scaler-value);

  // As a general rule, make H2s colorful
  color: var(--fc__default__text-accent);
  // Make H2s stand out even more by using the sans font
  font-family: $font-sans-fallback;
  letter-spacing: $kerning-base;
  margin-block-start: calc(var(--body-text-spacer) * 1.5);

  html:where(.wf-active:not(.novf)) & {
    font-family: var(--font-sans-vf);
    font-weight: var(--vf-bold-wght);
  }
}

h3,
.qh__h3 {
  --font-size-min-value: var(--h3-size-s);
  --font-size-max-value: var(--h3-size-l);
  --font-size-scaler-value: var(--h3-scaler-value);
  --font-lh-min-value: var(--h3-lh-s);
  --font-lh-max-value: var(--h3-lh-l);
  --font-lh-scaler-value: var(--h3-lh-scaler-value);

  font-style: normal;
  letter-spacing: $kerning-base;
  margin-block-start: var(--body-text-spacer);

  html:where(.wf-active:not(.novf)) & {
    font-weight: 475;
  }
}

h4,
.qh__h4 {
  --font-size-min-value: var(--h4-size-s);
  --font-size-max-value: var(--h4-size-l);
  --font-size-scaler-value: var(--h4-scaler-value);
  --font-lh-min-value: var(--h4-lh-s);
  --font-lh-max-value: var(--h4-lh-l);
  --font-lh-scaler-value: var(--h4-lh-scaler-value);

  letter-spacing: $kerning-base;
  margin-block-end: calc(var(--body-text-spacer) * 0.5);

  html:where(.wf-active:not(.novf)) & {
    font-weight: 500;
  }
}

h5,
.qh__h5,
.qh__btn,
.button,
legend {
  --font-size-min-value: var(--h5-size-s);
  --font-size-max-value: var(--h5-size-l);
  --font-size-scaler-value: var(--h5-scaler-value);
  --font-lh-min-value: var(--h5-lh-s);
  --font-lh-max-value: var(--h5-lh-l);
  --font-lh-scaler-value: var(--h5-lh-scaler-value);

  letter-spacing: $kerning-base;

  html:where(.wf-active:not(.novf)) & {
    font-weight: 550;
  }
}

h6,
.qh__h6 {
  --font-size-min-value: var(--h6-size-s);
  --font-size-max-value: var(--h6-size-l);
  --font-size-scaler-value: var(--h6-scaler-value);
  --font-lh-min-value: var(--h6-lh-s);
  --font-lh-max-value: var(--h6-lh-l);
  --font-lh-scaler-value: var(--h6-lh-scaler-value);

  letter-spacing: $kerning-loosest;
  text-transform: uppercase;

  html:where(.wf-active:not(.novf)) & {
    font-weight: var(--vf-bold-wght);
  }
}

// What is this element? Can we find an example?
.qh__emphasis {
  &::after {
    content: ' ';
    display: block;
    border-bottom: solid 0.4rem var(--fc__default__violator);
    margin-top: ($text-spacer-fallback-value * 0.85);
    margin-bottom: ($text-spacer-fallback-value * 0.85);
    width: 1.125em;

    //margin-top: calc(var(--body-text-spacer) * 0.85);
    //margin-bottom: calc(var(--body-text-spacer) * 0.85);
  }
}

p,
li,
dt,
dd {
  font-variant-numeric: oldstyle-nums;
}

strong,
b {
  @include qh-fw-bold();
}

blockquote {
  border-inline-start: $border-md solid var(--fc__default__text-accent);
  padding-inline-start: calc(var(--body-text-spacer) * 1.75);

  p {
    --font-size-min-value: var(--bq-size-s);
    --font-size-max-value: var(--bq-size-l);
    --font-size-scaler-value: var(--bq-scaler-value);
    --font-lh-min-value: var(--bq-lh-s);
    --font-lh-max-value: var(--bq-lh-l);
    --font-lh-scaler-value: var(--bq-lh-scaler-value);

    font-family: $font-serif-fallback;
    font-weight: light;

    html:where(.wf-active) & {
      font-family: $font-serif-static;
      font-variant-numeric: lining-nums;
    }

    html:where(.wf-active:not(.novf)) & {
      font-family: var(--font-serif-vf);
      font-weight: 175;
    }

    + p {
      margin-block-start: calc(var(--body-text-spacer) * 0.5);
    }
  }

  .qh__card > & {
    margin-inline-start: calc(var(--body-text-spacer) * 0.5);
  }
}

hr {
  border-width: 0.5px;
  border-color: var(--fc__default__border);
  color: var(--fc__default__border);
  margin-block: calc(var(--body-text-spacer) * 2);
}

label,
.qh__fs-st {
  --font-size-min-value: var(--st-size-s);
  --font-size-max-value: var(--st-size-l);
  --font-size-scaler-value: var(--st-scaler-value);
  --font-lh-min-value: var(--st-lh-s);
  --font-lh-max-value: var(--st-lh-l);
  --font-lh-scaler-value: var(--st-lh-scaler-value);
  font-weight: calc(var(--vf-body-wght) + 50);
}
