.qh__site-branding {
  // Subtle gradient to add depth
  background-image: radial-gradient( circle at 50%, rgba(0, 0, 0,.15), rgba(0, 0, 0, 0) );
  padding-block: $general-v-spacing;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;

    &,
    &:visited {
      text-decoration: none;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline-end: 0.5em;
    width: 5em;
    min-height: 4.5em;

    &.--wide {
      margin: 0 auto;
      max-width: em(420);
      width: auto;
    }

    @include breakpoint-up($bp--small) {
      margin-inline-start: -0.5em;
      margin-inline-end: 1em;

      &.--wide {
        margin-inline-start: 0;
        margin-inline-end: 0;
      }
    }
  }

  &__name {
    display: block;

    span {
      display: block;
    }

    &__top-line {
      --p-font-wght: ;
      letter-spacing: $kerning-loose;
      text-transform: uppercase;

      .dark & {
        letter-spacing: $kerning-loose;
      }
      @media (prefers-color-scheme: dark) {
        html:not(.light) & {
          letter-spacing: $kerning-loose;
        }
      }
    }

    &__main-line {
      color: var(--fc__header__fg);
//       font-family: $font-serif-static;
//       font-weight: normal;
//       font-size: 2rem;
//       line-height: $h1-lh-s;
//
//       .wf-inactive & {
//         font-family: $font-serif-fallback;
//         font-weight: normal;
//         letter-spacing: 0.04em;
//       }
//       @supports (font-variation-settings: normal) {
//         html:not(.novf) & {
//           font-family: var(--font-serif-vf);
//           font-weight: 300;
//         }
//
//         html:not(.novf).wf-inactive & {
//           font-family: $font-serif-fallback;
//           font-weight: normal;
//           letter-spacing: 0.035em;
//         }
//       }
//       @include breakpoint-up($bp--medium) {
//         font-size: 2.5rem;
//         line-height: $line-height-tightest;
//       }
//       @include breakpoint-up($bp--large) {
//         font-size: 3rem;
//         line-height: $h1-lh-l;
//       }
//       @supports (font-size: clamp(1rem, 2vw, 2rem)) {
//         --font-size-min: 1.5rem;
//         --font-size-max: 2rem;
//         --font-size-scaler-value: var(--h2-scaler-value);
//         font-size: var(--font-size);
//
//         --font-lh-min: #{$h1-lh-s};
//         --font-lh-max: #{$h1-lh-l};
//         --font-lh-scaler-value: var(--h1-lh-scaler-value);
//         line-height: var(--line-height);
//       }
      font-style: normal;
    }

    &__bottom-line {
      letter-spacing: $kerning-base;
    }
  }
}
