.qh__site-branding {
  // Subtle gradient to add depth
  background-image: radial-gradient( circle at 50%, rgba(0, 0, 0,.15), rgba(0, 0, 0, 0) );
  padding-block: $general-v-spacing;

  // Specific themes need overrides
  html.qh__t__block-island.light & {
    background-image: radial-gradient( circle at 50%, rgba(0, 0, 0,.05), rgba(0, 0, 0, 0) );
  }
  @media (prefers-color-scheme: light) {
    html.qh__t__block-island.light:where(:not(.dark)) & {
      background-image: radial-gradient( circle at 50%, rgba(0, 0, 0,.05), rgba(0, 0, 0, 0) );
    }
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__link {
    display: flex;
    align-items: center;

    &,
    &:visited {
      text-decoration: none;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline-end: 0.5em;
    width: 5em;
    min-height: 4.5em;

    &.--wide {
      margin: 0 auto;
      max-width: em(420);
      width: auto;
    }

    @include breakpoint-up($bp--small) {
      margin-inline-start: -0.5em;
      margin-inline-end: 1em;

      &.--wide {
        margin-inline-start: 0;
        margin-inline-end: 0;
      }
    }
  }

  &__name {
    display: block;

    span {
      display: block;
    }

    &__top-line {
      font-weight: 475;
      letter-spacing: $kerning-loose;
      text-transform: uppercase;

      .dark & {
        letter-spacing: $kerning-loosest;
      }
      @media (prefers-color-scheme: dark) {
        html:not(.light) & {
          letter-spacing: $kerning-loosest;
        }
      }
    }

    &__main-line {
      // Typography and class of the H1 but size of an H2
      --font-size-min-value: var(--h2-size-s);
      --font-size-max-value: var(--h2-size-l);
      --font-size-scaler-value: var(--h2-scaler-value);
      --font-lh-min-value: var(--h2-lh-s);
      --font-lh-max-value: var(--h2-lh-l);
      --font-lh-scaler-value: var(--h2-lh-scaler-value);
      color: var(--fc__header__fg);
    }

    &__bottom-line {
      letter-spacing: $kerning-base;
    }
  }
}
