.qh__notifications-block {
  position: relative;

  // If dark mode, dim slightly
  html:where(.dark) & {
    opacity: 0.9;
  }
  @media (prefers-color-scheme: dark) {
    html:where(:not(.light)) & {
      opacity: 0.9;
    }
  }

  &__wrapper {
    background-color: var(--fc__notification__bg);
    margin: 0 auto;
    max-width: Min(calc(#{$content-max-small-screen} + 1.75rem), calc(#{$content-max-large-screen} * var(--fontSizeModifier)));

    // Light colored background as a pseudo element with opacity applied
    &::before {
      background-color: var(--fc__notification__bg);
      content: '';
      opacity: 0.67;
      position: absolute;
      @include qh-inset-supports(0);
      z-index: -2;
    }
  }

  .qh__icon__svg {
    color: var(--fc__notification__icon);
    height: rem(32);
    margin: 0 1.125em 0 -0.5em;
    width: em(38);
  }

  // <p>
  &__title {}

  &__header {
    color: var(--fc__notification__fg);
    display: flex;
    align-items: center;
    margin: 0 $general-h-spacing;
    padding: em(12) 0;

    .qh__btn {
      margin-left: auto;

      &,
      &:visited {
        background-color: var(--fc__notification__button__bg);
        color: var(--fc__notification__button__fg);
      }

      &:hover,
      &:focus {
        background-color: var(--fc__notification__button__fg);
        color: var(--fc__notification__button__bg);
      }

      &[aria-expanded='true']::before {
        content: attr(data-text-true);
      }

      &[aria-expanded='false']::before {
        content: attr(data-text-false);
      }
    }
  }

  &__content {
    background-color: var(--fc__default__bg);
    color: var(--fc__default__fg);
    border-block-end: $border-sm solid var(--fc__notification__bg);
    padding: 0 $general-h-spacing;

    .notifications-hidden & {
      display: none;
    }

    p {
      max-width: $max-line-length-ch;

      & + p {
        margin-top: var(--body-text-spacer);
      }
    }

    // Expand and collapse if JS is present
    .js & {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0s linear 1s, visibility 0s linear 0s;
      visibility: hidden;

      > article {
        opacity: 0;
        transition: $transition-base 0ms;
      }

      &.js__aria-expanded {
        max-height: none;
        transition: max-height 0s linear 500s, visibility 0s linear 0ms;
        visibility: visible;

        > article {
          opacity: 1;
          transition: $transition-base 125ms;
        }
      }
    }
  }
}
