ul,
ol,
dl {
  // Add padding for bullet/marker visibility when in layout columns (overflow: auto)
  .qh-layout-section__col & {
    padding-inline-start: 1.25em;
  }

  li,
  dd {
    // Rules for when these items are in main content
    .qh__prose & {
      // Do not use a lh unit here; it multiplies when accordions are nested
      line-height: 1.375em;
      margin-block-start: 0;
      margin-inline-start: 0.75em;
      padding-inline-start: 0.25em;

      &::marker {
        color: var(--fc__default__text-accent);
        font-size: 0.875em;
      }

      + li {
        margin-top: 0.25em;
      }
    }
  }
}

// Utilities
.qh-u__list-reset {
  @include qh-list-reset;
}
