figure {
  margin: 0;
  padding: 0;

  p + & {
    margin-top: var(--vertical-rhythm);
  }
}

figcaption {
  @extend .qh__fs-st !optional;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;

  .auto-width &,
  &.auto-width {
    width: auto;
  }
}
