// All headers
$all-headers: 'h1, .qh__h1, h2, .qh__h2, h3, .qh__h3, h4, .qh__h4, h5, .qh__h5, h6, .qh__h6';

// All block-level text elements
$all-typography-block: 'p, li, dt, dd, th, td, address, label, figcaption, input, select, textarea, button, legend, .qh__btn, .qh__fs-base, .qh__fs-st';

// Border Thickness
$border-xs: rem(0.5); // Half pixel as REM value
$border-sm: rem(1); // One pixel as REM value, etc.
$border-md: rem(4);
$border-lg: rem(8);
$border-xl: rem(15);

// Border radius
$brad-xs: rem(3);
$brad-sm: rem(5);
$brad-md: rem(8);

// Box Shadows
$box-shadow-base: 0 0.125em 0.5em var(--c__quahog--dark--trans33);

// Buttons
$button-border-radius: $brad-sm;
$button-v-spacing: 0.625em;
$button-h-spacing: 1.125em;

// Content max-width
$content-max-small-screen: 93vw;
$content-max-large-screen: 86rem; /* 1376px */

// Generic page gutter, column spacing, vertical spacing
$general-v-spacing: 1.5em;
$general-h-spacing: 1em;

$grid-gap: 1.5em;

// Line-height when static and not affected by user controls
$line-height-tightest: 1;
$line-height-tight: 1.25;
$line-height-normal: 1.4;
$line-height-loose: 1.625;

// Icon sizing
$icon-dimension: em(40);

// Input
$input-border-radius: $button-border-radius;
$input-v-spacing: 0.75em;
$input-h-spacing: 0.75em;

// Kerning
$kerning-loosest: 0.0625em;
$kerning-loose: 0.03125em;
$kerning-base: 0.015625em;
//$kerning-tight: -0.03125em; not used yet

// Max-width on type elements for line-length legibility
$max-line-length: em(640);
$max-line-length-ch: 72ch; // renders ~88 in FF

// Transitions
$transition-duration-base: 250ms;
$transition-duration-medium: 500ms;
$transition-timing-base: ease;
$transition-base: all $transition-duration-base $transition-timing-base;
$transition-medium: all $transition-duration-medium $transition-timing-base;

// Spacing on similar components

// Navigation: Main, secondary (side), and accordions
$nav-a-v-spacing: 1em;
$nav-a-v-spacing--sm: em(10);
$nav-a-h-spacing: 1.5em;
$nav-a-h-spacing--sm: 0.85em;

// Z-indices
$zindex: (
  base: 1,
  side-nav-menu: 448,
  desktop-nav-bar: 449,
  mobile-body-overlay: 450,
  mobile-nav-bar: 451,
  drop-down-menu: 500
);


// Typography variables
// Preprocessed for fallbacks

// Default 'normal' weight for the variable fonts
$vf-body-wght: 350;
$vf-bold-wght: 625;

// Set base text size for all calcs
$text-base-size: 16;

// Change px values here for all font sizing
// small text
$st-size-s-px: 14;
$st-size-l-px: 15;

$p-size-s-px: 16;
$p-size-l-px: 18;

$h6-size-s-px: 16;
$h6-size-l-px: 18;

$h5-size-s-px: 18;
$h5-size-l-px: 21;

// Blockquote
$bq-size-s-px: 19;
$bq-size-l-px: 23;

$h4-size-s-px: 20;
$h4-size-l-px: 25;

$h3-size-s-px: 23;
$h3-size-l-px: 30;

$h2-size-s-px: 26;
$h2-size-l-px: 36;

$h1-size-s-px: 29;
$h1-size-l-px: 43;

// Font size unitless values
$p-size-s-value: $p-size-s-px / $text-base-size;
$p-size-l-value: $p-size-l-px / $text-base-size;

$h1-size-s-value: $h1-size-s-px / $text-base-size;
$h1-size-l-value: $h1-size-l-px / $text-base-size;

$h2-size-s-value: $h2-size-s-px / $text-base-size;
$h2-size-l-value: $h2-size-l-px / $text-base-size;

$h3-size-s-value: $h3-size-s-px / $text-base-size;
$h3-size-l-value: $h3-size-l-px / $text-base-size;

$h4-size-s-value: $h4-size-s-px / $text-base-size;
$h4-size-l-value: $h4-size-l-px / $text-base-size;

$h5-size-s-value: $h5-size-s-px / $text-base-size;
$h5-size-l-value: $h5-size-l-px / $text-base-size;

$h6-size-s-value: $h6-size-s-px / $text-base-size;
$h6-size-l-value: $h6-size-l-px / $text-base-size;

$bq-size-s-value: $bq-size-s-px / $text-base-size;
$bq-size-l-value: $bq-size-l-px / $text-base-size;

$st-size-s-value: $st-size-s-px / $text-base-size;
$st-size-l-value: $st-size-l-px / $text-base-size;

// Line-height (evaluates to EM units)
$p-lh-s: 1.4;
$p-lh-l: 1.5;

$h1-lh-s: 1.05;
$h1-lh-l: 1.1;

$h2-lh-s: 1.15;
$h2-lh-l: 1.25;

$h3-lh-s: 1.15;
$h3-lh-l: 1.25;

$h4-lh-s: 1.1;
$h4-lh-l: 1.2;

$h5-lh-s: 1.1;
$h5-lh-l: 1.2;

$h6-lh-s: 1.1;
$h6-lh-l: 1.2;

$bq-lh-s: 1.5;
$bq-lh-l: 1.625;

$st-lh-s: 1.3;
$st-lh-l: 1.4;

// Custom props for modern browsers
:root {
  // These all point to unitless values because our calc() already multiplies by 1rem
  --p-size-s: #{$p-size-s-value};
  --p-size-l: #{$p-size-l-value};

  --h1-size-s: #{$h1-size-s-value};
  --h1-size-l: #{$h1-size-l-value};

  --h2-size-s: #{$h2-size-s-value};
  --h2-size-l: #{$h2-size-l-value};

  --h3-size-s: #{$h3-size-s-value};
  --h3-size-l: #{$h3-size-l-value};

  --h4-size-s: #{$h4-size-s-value};
  --h4-size-l: #{$h4-size-l-value};

  --h5-size-s: #{$h5-size-s-value};
  --h5-size-l: #{$h5-size-l-value};

  --h6-size-s: #{$h6-size-s-value};
  --h6-size-l: #{$h6-size-l-value};

  --bq-size-s: #{$bq-size-s-value};
  --bq-size-l: #{$bq-size-l-value};

  --st-size-s: #{$st-size-s-value};
  --st-size-l: #{$st-size-l-value};

  // These are multiplied in later calc() function by 1em
  --p-lh-s: #{$p-lh-s};
  --p-lh-l: #{$p-lh-l};

  --h1-lh-s: #{$h1-lh-s};
  --h1-lh-l: #{$h1-lh-l};

  --h2-lh-s: #{$h2-lh-s};
  --h2-lh-l: #{$h2-lh-l};

  --h3-lh-s: #{$h3-lh-s};
  --h3-lh-l: #{$h3-lh-l};

  --h4-lh-s: #{$h4-lh-s};
  --h4-lh-l: #{$h4-lh-l};

  --h5-lh-s: #{$h5-lh-s};
  --h5-lh-l: #{$h5-lh-l};

  --h6-lh-s: #{$h6-lh-s};
  --h6-lh-l: #{$h6-lh-l};

  --bq-lh-s: #{$bq-lh-s};
  --bq-lh-l: #{$bq-lh-l};

  --st-lh-s: #{$st-lh-s};
  --st-lh-l: #{$st-lh-l};

  // Accessible fluid typography scaling setup
  // Set scaling values
  // Magic numbers!
  --p-scaler-value: 1.25;
  --p-lh-scaler-value: 3;

  --h1-scaler-value: 6;
  --h1-lh-scaler-value: 6;

  --h2-scaler-value: 4;
  --h2-lh-scaler-value: 6;

  --h3-scaler-value: 2.5;
  --h3-lh-scaler-value: 5;

  --h4-scaler-value: 2;
  --h4-lh-scaler-value: 5;

  --h5-scaler-value: 1;
  --h5-lh-scaler-value: 4;

  --h6-scaler-value: 1;
  --h6-lh-scaler-value: 4;

  --bq-scaler-value: 2;
  --bq-lh-scaler-value: 2.5;

  --st-scaler-value: 1;
  --st-lh-scaler-value: 2;

  // Other useful variables
  --body-text-spacer: 1lh;
  // Transitioning the name to this new variable, which is more descriptive of what it is
  // When we need to touch a file, use the new name. At the end, do a site wide find and replace
  --vertical-rhythm: 1lh;

  --content-max-width: Min(#{$content-max-small-screen}, calc(#{$content-max-large-screen} * var(--fontSizeModifier)));

  --vf-body-wght: #{$vf-body-wght};
  --vf-bold-wght: #{$vf-bold-wght};
  --p-font-wght: #{$vf-body-wght};
}

html {
  // Color mode JS beacon in user-settings.js
  --osLightMode: light;
  @media (prefers-color-scheme:dark) {
    --osLightMode: dark;
  }

  // Font size modifier
  // JS reads this value and resets it based on the preference slider
  --fontSizeModifier: 1;

  // Line-height modifier
  // JS reads this value and resets it based on the preference slider
  --lineHeightModifier: 1;

  // word space modifier
  // JS reads this value and resets it based on the preference slider
  --wordSpaceModifier: 0;
}
