{#
/**
 * @file
 * Default theme implementation for a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - hasContent: Boolean FALSE if all regions have no content.
 * - regionsWithContent: array keyed by region name containing a boolean FALSE if the region was empty
 *
 * @ingroup themeable
 *
 * @see ecms_preprocess_layout()
 */
#}

{% set background_class = 'qh__t__' ~ settings.background_color %}
{%
  set classes = [
  'qh-layout-section',
  'qh-layout-section--col-count-1',
  settings.full_width == 1 ? 'qh-layout-section--full-width' : '',
]
%}
{% if hasContent %}
<div class="{{ background_class }}">
  <div{{ attributes.addClass(classes) }}>
    {% if regionsWithContent.first %}
      <div {{ region_attributes.first.addClass('qh-layout-section__col', 'qh-layout-section__col--first') }}>
        {{ content.first }}
      </div>
    {% endif %}
  </div>
</div>
{% endif %}
