.qh-layout__sidebar-top {
  position: sticky;
  top: 3em;
  z-index: z(mobile-nav-bar);

  @include breakpoint-up($bp__single-col-content) {
    position: relative;
    top: auto;
    z-index: z(side-nav-menu);
  }
}

.qh__nav-minor {
  background-color: var(--fc__default__bg);
  border-top: $border-lg solid var(--fc__nav-minor__border);
  border-start-start-radius: $brad-sm;
  overflow: visible;

  @include breakpoint-down($bp__single-col-content) {
    $button-trigger-height: 28;

    position: absolute;
    // This calc replicates the spacing variable to negate it, and push the button trigger over to the edge of the viewport
    left: calc((1.125em + 3.5vw) * -1);
    min-width: unset;
    width: em(320 - $button-trigger-height);
    transform: translateX(- em(320 - $button-trigger-height));
    transition: transform $transition-duration-base $transition-timing-base;

    > ul {
      transform: translateX(- em(48));
      transition: transform $transition-duration-base $transition-timing-base ($transition-duration-base/2);
    }

    &#{&}--expanded {
      transform: translateX(0);

      > ul {
        transform: translateX(0);
      }
    }
  }

  @include breakpoint-up($bp__single-col-content) {
    border-start-end-radius: $brad-sm;
    // Light mode layered shadows
    box-shadow: 0 0.125em 2vw rgba(255,255,255,0.85), 0.25em 0.75em 10vw rgba(0,0,0,0.15);

    html:where(.dark) & {
      box-shadow: 0.25em 0.75em 8vw rgba(0,0,0,0.25);
    }
    @media (prefers-color-scheme: dark) {
      html:where(:not(.light)) & {
        box-shadow: 0.25em 0.75em 8vw rgba(0,0,0,0.25);
      }
    }
  }

  // Interaction styles come from .qh__accordion
  //&:hover,
  //&:focus {}

  a {
    display: block;
    transition: $transition-base;
  }

  // <button>
  &__toggle {
    background-color: var(--fc__nav-minor__link--hover);
    background-image: none;
    border-radius: 0;
    color: var(--fc__nav-minor__link--hover__bg);
    padding: ($button-v-spacing/8) $button-h-spacing ($button-v-spacing/8) 0;
    overflow: visible;
    position: absolute;
    top: - $border-lg;
    right: 0;
    transform: rotate(-90deg);
    transform-origin: top right;

    // Little triangle at the bottom
    &::before {
      background-color: var(--fc__nav-minor__link--hover);
      background-image: none;
      content: ' ';
      display: block;
      height: 100%;
      width: em(36);
      position: absolute;
      top: 0;
      left: - em(30);
      transform: skew(25deg, 0deg);
      transition: $transition-base;
      z-index: -1;
    }

    &:hover,
    &:focus,
    &:hover::before,
    &:focus::before {
      background-color: var(--fc__nav-minor__link--hover__bg);
      color: var(--fc__nav-minor__link--hover);
    }

    @include breakpoint-up($bp__single-col-content) {
      display: none;
      visibility: hidden;
    }
  }

  // <ul>
  .qh__accordion {
    margin-top: 0;
  }

  &__list {
    background-color: var(--fc__nav-minor__bg);
    border-end-start-radius: $brad-sm;
    border-end-end-radius: $brad-sm;
    overflow: hidden;
    position: relative;
    z-index: z(drop-down-menu);

    @include breakpoint-up($bp__single-col-content) {
      max-height: unset;
      z-index: unset;
    }

    // When a left drawer menu, don't let it get bigger than the viewport and
    // allow interior scrolling for very long lists of page nav items
    @include breakpoint-down($bp__single-col-content) {
      &.qh__accordion {
        margin-top: 0;
        max-height: 80vh;
        overflow-y: scroll;
      }
    }

    &__sub {
      background-color: var(--fc__nav-minor__sub__bg);
      border-left: ($general-h-spacing * 0.5) solid var(--fc__nav-minor__link--hover__bg);
    }
  }

  // <li>
  &__item {
    position: relative;
    overflow: visible;

    // Also <li>, but nested
    &__sub {}

    &:not(&__sub) + &:not(&__sub)::before {
      border-top: $border-sm solid var(--fc__default__bg);
      content: '';
      display: block;
      height: 0;
      margin: 0 em(8);
      flex-basis: 100%;
    }
  }

  // <li>
  &__has-children {
    // Set up a split button design
    $button-width: em(44);

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;

    .qh__nav-minor__link {
      flex: 1 0 0;
    }

    .qh__accordion__button {
      display: block;
      flex: 0 0 $icon-dimension;
      margin: 0 0 0 auto;
      padding: 0.25em 0;

      .qh__icon {
        margin: 0;
      }
    }

    .qh__accordion__content {
      background-color: transparent;
      flex-basis: 100%;
      padding: 0 !important; // sigh
      // Needed to override the specificity of .js [aria-expanded="true"] + .qh__accordion__content
    }
  }

  // Restyling accordion elements classes
  .qh__accordion__content > div ul .qh__nav-minor__item {
    margin: 0;
    padding: 0;
  }

  .qh__accordion__button {
    &[aria-expanded='true'] {
      background-color: var(--fc__nav-minor__link--hover__bg);
    }

    .qh__icon__plusminus {
      &__circle {
        fill: var(--fc__nav-minor__link--hover__bg);
      }

      &__vert,
      &__horiz {
        fill: var(--fc__nav-minor__link);
      }
    }

    &:hover,
    &:focus,
    .js &[aria-expanded='true'] {
      .qh__icon__plusminus {
        &__circle {
          fill: var(--fc__default__bg);
        }

        &__vert,
        &__horiz {
          fill: var(--fc__nav-minor__link--hover);
        }
      }
    }
  }

  // <a> & <button> colors
  .qh__accordion__button,
  &__link {
    &,
    &:visited {
      // Remove visited styles by declaring them the same as static anchor styles
      background-color: var(--fc__nav-minor__link__bg);
      color: var(--fc__nav-minor__link);
      text-decoration: none;
    }

    &:not([aria-current]):hover,
    &:not([aria-current]):focus {
      background-color: var(--fc__nav-minor__link--hover__bg);
      color: var(--fc__nav-minor__link--hover);
    }

    &:focus {
      outline-color: var(--fc__nav-main__link--focus);
      outline-offset: -2px;
    }

    &:active {
      color: var(--fc__nav-main__link--active);
    }
  }

  // <a>
  &__link {
    padding: ($nav-a-v-spacing * 0.75) $nav-a-h-spacing--sm;

    // Treat a current link as disabled. It should not have a visual state change
    // Not working well if that current link is a parent to an accordion
    //&--current {
    //  cursor: default;
    //  pointer-events: none;
    //}

    &[aria-current],
    &[aria-current]:hover,
    &[aria-current]:focus,
    &[aria-current]:visited,
    .js &[aria-current].qh__accordion__button[aria-expanded='true'] {
      background-color: var(--fc__nav-minor__link--hover__bg);
      color: var(--fc__nav-minor__fg);
      font-weight: var(--vf-bold-wght);
      text-decoration: none;
    }

    &__sub[aria-current],
    &__sub[aria-current]:hover,
    &__sub[aria-current]:focus,
    &__sub[aria-current]:visited,
    .js &__sub[aria-current].qh__accordion__button[aria-expanded='true'] {
      background-color: var(--fc__nav-minor__sub__bg);
      color: var(--fc__nav-minor__fg);
    }
  }

  // Treat the Minor Nav like a breadcrumb trail at the top of the first page
  @media print {
    // Only allow the current page link to show
    a:not(#{&}__link--current):not([href='/']) {
      display: none;
    }

    // Label the current link with the destination URL, which should be this page
    a[aria-current][href]::after {
      content: ' (' attr(href) ')';
    }

    // Hide border
    &__item:not(#{&}__item__sub) + &__item:not(#{&}__item__sub)::before {
      border-top: 0;
    }
  }
}
