.qh__file-list {

  // Icon colors
  .qh__icon__file-pdf__path {
    fill: var(--fc__icon__pdf);
  }

  .qh__icon__file-word__path {
    fill: var(--fc__icon__word);
  }

  .qh__icon__file-excel__path {
    fill: var(--fc__icon__excel);
  }

  .qh__icon__file-generic__path {
    fill: var(--fc__icon__generic);
  }

  .qh__icon__download__path {
    fill: var(--fc__icon__download);
  }

  .qh__icon__extlink__path {
    fill: var(--fc__icon__download);
  }

  .qh__icon__globe__path {
    fill: var(--fc__icon__word);
  }

  &__inner {
    padding: $general-v-spacing 0;
  }

  // UL
  //&__list {}

  // LI
  &__item {
    & + & {
      border-top: $border-xs solid var(--fc__default__border);
    }

    &__icon,
    &__download {
      flex: 0 0 ($icon-dimension + ($general-h-spacing/2));
    }

    &__icon {
      padding-inline-end: ($general-h-spacing/2);
    }

    &__filename {
      padding: (($general-v-spacing/3)*2) 0;
    }

    // span
    &__label {
      display: block;
      font-weight: 525;
    }

    &__description {
      color: var(--fc__default__fg);
      display: block;
      max-width: 40em;
      margin: 0.25em 0 0.5em;
    }

    // span
    &__filesize {
      color: var(--fc__default__fg);
      display: block;
    }

    &__download {
      margin-left: auto;
      padding-inline-start: ($general-h-spacing/2);
    }

    &__edit-link {
      display: block;
      margin: 1em 0;
    }
  }

  // A
  &__link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0 ($general-h-spacing/2);
    text-decoration: none;
    transition: $transition-base;

    // Hide external link
    &::after {
      content: none !important;
    }

    &,
    &:visited {
      background-color: transparent;
    }

    &:hover,
    &:focus {
      background-color: var(--c__coffee-milk--trans25);
    }
  }

  // Hover on elements
  &__link &__item__label,
  &__link &__item__download {
    transition: $transition-base;
  }

  &__link:hover &__item__label,
  &__link:focus &__item__label {
    text-decoration: underline;
  }

  &__link:hover &__item__download,
  &__link:focus &__item__download {
    transform: translateY(3px);

    .qh__icon__download,
    .qh__icon__extlink {
      fill: var(--fc__default__link--hover);
    }
  }
}
