html {
  box-sizing: border-box;
  font-size: 100%;

  // Color mode JS beacon in user-settings.js
  --osLightMode: light;
  @media (prefers-color-scheme:dark) {
    --osLightMode: dark;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Remove default spacing from text block & media elements
// Normalize is still in this project, and we should remove that as well
body, h1, h2, h3, h4, h5, h6, p,
figure, blockquote, ul, ol, dl, video, audio {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--fc__default__bg);
  color: var(--fc__default__fg);
}

::selection,
::target-text {
  background-color: var(--fc__default__fg);
  color: var(--fc__default__bg);
}

nav ul,
nav ol {
  @include qh-list-reset;
}

// Remove visible focus for mouse users only
:focus:not(:focus-visible) {
  border: 0;
  outline: none;
}

/*
  Suppress the focus outline on elements that cannot be accessed via keyboard.
  This prevents an unwanted focus outline from appearing around elements that might still respond to pointer events.
  Credit: https://github.com/suitcss/base
  */
[tabindex='-1']:focus {
  outline: 0 !important;
}

/*
  When an element has an ID, give it space so that it is not at the very top of the viewport
  The rlh unit is "relative line-height"
  Credit to https://cssence.com/2025/scroll-margin-scroll-padding/
  */
[id] {
  scroll-margin-block-start: 2rlh;
}

// Opt in to upcoming browser-based view transitions
@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

// Remove all animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
