$sidebar-min: em(200);
$sidebar-max: em(380);
$sidebar-column-gap: 3vw;
$sidebar-row-gap: em(36);

main {
  position: relative;
}

.qh-layout {

  &__grid {
    @include qh-content-maxwidth();

    display: grid;
    grid-template-areas:
      'sidebar-top'
      'content'
      'sidebar-middle'
      'sidebar-bottom';
    padding-block: 1lh 2lh;
    padding-left: 1rem;

    @include breakpoint-up($bp__single-col-content) {
      grid-template-areas:
        'sidebar-top content'
        'sidebar-middle content'
        'sidebar-bottom content';
      grid-template-columns: minmax(calc(#{$sidebar-min} * var(--fontSizeModifier)), calc(18rem * var(--fontSizeModifier))) minmax(0, 1fr);
      grid-template-rows: min-content min-content 1fr;
      padding-block: 2lh 3lh;
      padding-left: 0;

      .path-user & {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: $content-max-small-screen;
      }

      .qh-layout__content {
        width: 100%;
      }
    }

    @include breakpoint-up($bp--xlarge) {
      grid-template-columns: minmax(calc(#{$sidebar-min} * var(--fontSizeModifier)), calc(22rem * var(--fontSizeModifier))) minmax(0, 1fr);
      padding-block: 3lh 4lh;
    }

    // Vertical spacing if both sidebar regions are present.
    aside + aside {
      margin-top: $general-v-spacing;
    }
  }

  &__content {
    grid-area: content;
    max-width: 89vw; // Magic number?

    @include breakpoint-up($bp__single-col-content) {
      @include qh-content-maxwidth();

      .path-user & {
        max-width: none;
      }
    }
  }

  &__sidebar-top {
    grid-area: sidebar-top;
    max-width: calc(#{$sidebar-max} * var(--fontSizeModifier));
    margin-right: $sidebar-column-gap;
    margin-bottom: $sidebar-row-gap;

    @include breakpoint-down($bp__single-col-content) {
      margin: 0;
    }

    [dir='rtl'] & {
      margin-left: $sidebar-column-gap;
      margin-right: 0;
    }
  }

  &__sidebar-middle {
    grid-area: sidebar-middle;
    max-width: 89vw; // Magic number?
    margin-top: $general-v-spacing;

    @include breakpoint-up($bp__single-col-content) {
      max-width: calc(#{$sidebar-max} * var(--fontSizeModifier));
      margin-right: $sidebar-column-gap;
      margin-top: unset;
    }

    &:empty {
      display: none;
    }
  }

  &__sidebar-bottom {
    grid-area: sidebar-bottom;
    max-width: 89vw; // Magic number?

    @include breakpoint-up($bp__single-col-content) {
      max-width: calc(#{$sidebar-max} * var(--fontSizeModifier));
      margin-right: $sidebar-column-gap;
    }

    &:empty {
      display: none;
    }
  }

  &__sidebar-bottom {
    // just add margin-top to elements added into this region
    > div {
      margin-top: $general-v-spacing;
    }
  }
}

// Page overlay for when any nav element is open
.page-overlay {
  backdrop-filter: blur(4px);
  background-color: var(--fc__default__overlay__bg);
  height: 100vh;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  transition:
    opacity $transition-duration-medium $transition-timing-base 0ms,
    z-index 0ms linear $transition-duration-medium;
  z-index: -1;

  &.active {
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 1;
    transition:
      opacity $transition-duration-medium $transition-timing-base 0ms,
      z-index 0ms linear 0ms;
    z-index: z(mobile-body-overlay);
  }
}
