.qh__person-list {
  &__section-title {
    margin-bottom: $general-v-spacing / 2;
  }

  &__content {
    // Add padding when there is a background color.
    &[class*="qh__tc"] {
      padding: $general-v-spacing $general-h-spacing;
    }
  }

  &__header {
    padding-bottom: ($text-spacer-fallback-value);

    @supports (margin-top: clamp(1rem, 2vw, 1.25rem)) {
      padding-bottom: calc(var(--body-text-spacer));
    }
  }

  //// <h1>
  //&__title {}
  //
  //// <ul>
  //&__contact {
  //
  //  // <p>
  //  &__label {}
  //
  //  // <span>
  //  &__email {}
  //
  //  // <span>
  //  &__phone {}
  //}
  //
  //// <ul>
  //&__list {}

  &__list {
    &--col-2,
    &--col-3 {
      display: grid;
      gap: 2rem;
    }

    &--col-2 {
      @include breakpoint-up($bp--small) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &--col-3 {
      @include breakpoint-up($bp--small) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include breakpoint-up($bp--large) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  // <li>
  &__item {
    container-type: inline-size;
    padding-top: ($text-spacer-fallback-value);
    padding-bottom: ($text-spacer-fallback-value);
    max-width: 100%;
    margin: 0 !important;

    @supports (margin-top: clamp(1rem, 2vw, 1.25rem)) {
      padding-top: calc(var(--body-text-spacer));
      padding-bottom: calc(var(--body-text-spacer));
    }
  }

  &__item + &__item {
    border-top: $border-xs solid var(--fc__default__border);
  }

  // Remove item borders in multi-column grid layouts
  &__list--col-2,
  &__list--col-3 {
    .qh__person-list__item {
      padding-top: 0;
      padding-bottom: 0;
    }

    .qh__person-list__item + .qh__person-list__item {
      border-top: none;
    }
  }
}
